#suites-list {
  .badge {
    margin-right: 20px;
  }
  #new-suite {
    margin-bottom: 20px;
  }
  #suite-region {
    margin-bottom: 20px;
    form .col-md-4 {
      padding-left: 0px;
    }
  }
  #added-tests {
    .panel {
      margin-bottom: 0px;
    }
    .panel-body {
      padding: 5px;
    }
  }
}
